*{
    margin:0;
    padding:0;
}
nav{
    width: 100%;
    height: 60px;
    background-color: rgba(17, 17, 15, 0.774);
}
.nav_loc{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.My_basket{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    font-family: cursive;
    cursor: pointer;
}
.cart{
    cursor: pointer;
}

.cart span:nth-child(1){
    font-size: 2rem;
    color: white;
}

.cart span:nth-child(2){
    padding: 0 3px;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    top: -15px;
}
.wishlist{
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    font-family: cursive;
    cursor: pointer;
}